* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, #ffd17a, #fff0f5);
}

.title {
  color: #cb410b;
  padding: 2vh;
  text-align: center;
}

.birdColorQuestion {
  text-align: center;
}

.button-div {
  width: 100vw;
  /* justify-content: center; */
  text-align: center;
}

.blue-button {
  background-color: blue;
  /* text-align: center; */
  margin: 1vh;
}

.red-button {
  background-color: crimson;
  margin: 1vh;
}
